* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

body {
    font-family: 'Poppins';
}

html {
    /* 1rem =16px
    1rem=10px
    10px/16px=0.625*100=100=62.5 */
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 141rem;
    margin: 0 auto;
    padding: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.33%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.33%;
}

.col-12 {
    width: 100%;
}

/* *************header************ */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-bg {
    background-color: rgb(45, 44, 44);
    box-shadow: 0 10px 10px 0 rgb(0 0 0 /0.4);
}

header .row {
    /* background-color:gray; */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

/* header nav {
    margin-left: auto;
} */

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
    padding: 1rem 0;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 1rem 3.3rem;
    font-weight: 500;
    font-size: 1.8rem;
}

header nav ul li:hover {
    background-color: rgb(111, 105, 105);
    /* padding: 1rem 0; */
    box-shadow: 0 2px 2px 2px rgba(0 0 0 /0.2);
    display: inline-block;

}

header .row>a i {
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin-left: 3.3rem;
}

header nav>i,
header nav ul>i {
    display: none !important;
}

header nav ul li ul {
    position: absolute;
    top: 4.4rem;
    left: 0;
    width: 16rem;
    display: none;
    padding: 1rem 0;
}

header nav ul li ul li,
header nav ul li ul li a {
    display: block;
}

header nav ul li:hover ul {
    display: inline-block;
}

/* ********************************** */

/* ***************HERO****************** */

#hero {
    background-image: url(../images/bc.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-data {
    position: absolute;
    top: 27%;
}

#hero::before {
    content: '';
    background-color: rgba(0 0 0 /0.5);
    position: absolute;
    inset: 0;
}

h1 {
    font-weight: 700;
    font-size: 9rem;
    line-height: 11rem;
    color: var(--secondary-color);
}

.hero-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #CFCFCF;
    margin: 3.7rem 0 2.1rem 0;
}

.form-data {
    width: 73.6rem;
    height: 7.8rem;
    background-color: var(--secondary-color);
    border-radius: 6.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.3rem;
    box-shadow: 0 2px 2px 2px rgba(0 0 0 /0.2);

}

.form-data select {
    border: none;
    font-weight: 500;
    font-size: 1.8rem;
    color: #9B9B9B;
    background-color: #fff;
    font-weight: 600;

}

.form-data .explore {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem 4rem;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.hero-data span {
    color: var(--secondary-color);
}


/* ****************************************** */
/******************Explore****************/
#explore .main-title {
    padding-top: 17.8rem;
}

.main-title h2 {
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 3rem;
}

.main-title p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;
    color: #878787;
}

.explore-slider .swiper-slide:hover {
    border-radius: 1rem;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 /0.25);
    transition: all 1s;
}

.explore-slider .swiper-slide .explore-img {
    border-radius: 1rem;
}

.explore-slider .swiper-slide .explore-img img {
    border-radius: 1rem;
    height: 36.1rem;
    object-fit: cover;
    object-position: center center;
}

.explore-slider .swiper-slide .explore-text {
    padding: 3.4rem 0 2.6rem 1.4rem;
    position: relative;
    transition: all 1s;
    opacity: 0;
}

.explore-slider .explore-text .explore-circle {
    background: var(--secondary-color);
    width: 8rem;
    height: 7.6rem;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.14);
    border-radius: 50%;
}

.explore-slider .explore-text .explore-circle {
    position: absolute;
    top: -2rem;
    right: 3rem;
    width: 8rem;
    height: 7.6rem;
    background: var(--secondary-color);
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.14);
    border-radius: 50%;
    text-align: center;
}


.explore-slider .explore-text .explore-circle span {
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 11rem;
    color: var(--primary-color);
}

.explore-slider .swiper-slide .explore-text h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--primary-color);
    padding: 3.4rem 0 0.7rem;
}

.explore-slider .swiper-slide .explore-text p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #555555;
}

#explore .explore-slider-section {
    position: relative;
}

#explore .explore-slider-section .swiper-button-prev,
#explore .explore-slider-section .swiper-button-next {
    position: absolute;
    top: -4.1rem;
    width: 6rem;
    height: 6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: var(--secondary-color);
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
}

#explore .explore-slider-section .swiper-button-prev {
    left: 0;
}

#explore .explore-slider-section .swiper-button-next {
    right: 0;
}

.explore-slider .swiper-slide:hover {
    transform: translateY(-1rem);
    border-radius: 1rem;
    z-index: 7;
}

.explore-slider .swiper-slide:hover .explore-text {
    opacity: 1;
    border: 1px solid var(--primary-color);
    border: none;
    border-radius: 0 0 1rem 1rem;

}

.explore-slider .swiper-slide:hover .explore-img img {
    border-radius: 1rem 1rem 0 0;
    height: 31.6rem;
}

#explore .main-title,
#why .main-title {
    margin-bottom: 4rem;
}

#explore .explore-slider-section .swiper-button-prev::after,
#explore .explore-slider-section .swiper-button-next:after {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

#explore .swiper-wrapper {
    margin-top: 3rem;
}

/*****************************************/

/******************WHY*********************/

#why-select {
    background: url(../images/why-4.webp);
    background-size: 100% 54.2rem;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    margin-bottom: 17rem;
}

#why-select .main-title h2 {
    color: var(--secondary-color);
    margin-top: 2.6rem;
}

#why-select .main-title p {
    color: var(--secondary-color);
    padding-top: 0.6rem;
}

.why-slider .swiper-slide {
    background: #FFFFFF;
    box-shadow: 0px 8px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    padding: 4.5rem 0 7rem 2rem;
    margin-top: 7.6rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.why-slider .why-img {
    width: 9.5rem;
    height: 9.7rem;
    background-color: #000;
    border-radius: 1rem;
}

.why-slider .why-img img {
    object-position: center center;
    object-fit: cover;
}

.why-slider .why-data h4 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #000000;
    margin-top: 3.3rem;
}

.why-slider .why-data p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #858585;
    margin-top: 1rem;
}

.why-slider .why-data a {
    margin-top: 3.8rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    display: inline-block;
}

.why-select-arrow {
    position: relative;
}

.why-select-arrow .prev,
.why-select-arrow .next {
    z-index: 8;
    position: absolute;
    top: -7rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 6.5rem;
}

.why-select-arrow .prev {
    left: -13rem;
    color: #737373;
}

.why-select-arrow .next {
    right: -13rem;
    color: #737373;
}

/*******************************************************/


/***********Our Tour partner Section*********/
.tour-partner {
    display: flex;
    justify-content: space-evenly;
}

#our-tour .main-title p {
    margin-bottom: 0;
}

#our-tour .tour-partner {
    padding-top: 6.9rem;
}

/**************************************/

/***********Client*************************/

.client-container {
    max-width: 172.6rem;
    margin-left: 7rem;
    padding: 2rem;
    border: 2px solid black;
}

#Client {
    margin-top: 17.8rem;
}

#Client h5 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 7rem;
    letter-spacing: 0.14em;
    color: #626262;
}

#Client .main-title h2 {
    text-align: left;
}

#Client .main-title p {
    text-align: left;
}

.client-select-arrow {
    position: relative;
}

.client-select-arrow .prev,
.client-select-arrow .next {
    z-index: 8;
    position: absolute;
    top: -7rem;
    width: 7rem;
    height: 6.6rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    line-height: 6.5rem;
}

.client-select-arrow .prev {
    left: -100;
    color: #737373;
}

.client-select-arrow .next {
    right: 0;
    color: #737373;
}

/*****************************************/

@media screen and (max-width: 1250px) {

    header img {
        width: 18rem;
    }

    header nav ul li a {
        padding: 0 1.2rem;
        font-size: 1.8rem;
    }

    header .row>a i {
        font-size: 1.2rem;
        margin-left: 1.2rem;
    }
}

@media screen and (max-width: 912px) {

    header img {
        width: 15rem;
    }

    header nav>ul {
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        background-color: rgb(108, 118, 108);
        height: 100vh;
        transition: all 1s;
        padding: 3.5rem 0;
    }

    header nav>i {
        font-size: 2rem;
        color: var(--secondary-color);
        display: inline-block !important;
    }

    header nav ul>i {
        font-size: 2rem;
        color: var(--secondary-color);
        /* float: right; */
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block !important;
    }

    header nav ul li {
        display: block;
        padding-top: 1rem;
    }

    header nav ul li a {
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    header .row>a i {
        font-size: 2rem;
        margin-left: 1rem;
    }

    header nav ul li ul,
    header nav ul li ul li {
        position: relative;
        left: 0;
        top: 1.2rem;
        width: 100%;
        background-color: gray;
    }

    .menu-slider {
        right: 0%;
    }

    header .row .main-logo {
        order: 0;
    }

    header .row .icon {
        margin-left: auto;
        padding-right: 1rem;
    }

    header .row .search {
        order: 1;
        margin-left: auto;
    }

    header .row nav {
        order: 2;
    }
}